@charset 'utf-8';

*{
    padding:0; margin:0;
}

ul{
    list-style: none;
}

a{
    color:inherit;
    text-decoration: none;
}

#wrap{
    width: 100%;
    min-width:800px;
    margin:0 auto;
}

.boxwrap:after{
    display: block;
    clear:both;
    content:'';
}

.box{
    float:left;
    height: 480px;
}

.box1{
    width:70%;
}

.box2{
    width:30%;  
    position:relative;
}

/* box1 영역 */
.box1 .top{
    height: 80px;
    width:100%;
    background-color: #eee;
    position: relative;
}
.categoryTitle{
    width:20%;
    text-align: center;
    line-height: 80px;
    background-color:#fff;
}

.searchwrap{
    position: absolute;
    top:0;
    left:50%;
    height: 80px;
    line-height: 80px;
    margin-left:-300px;
}

.searchwrap>span{
    margin:0 50px ;
}

.search{
    display: inline-block;
}

.searchicon{
    font-size:2px;
}

.search input{
    width:250px;
    height: 30px;
}

/* top */
.content{
    height: 400px;
}

.content:after{
    display: block;
    clear:both;
    content:'';
}

#category{
    width:20%;
    float: left;
}

.content #category li{
    height: 80px;
    width: 100%;
    background-color:#666;
    text-align: center;
    color:white;
    line-height: 80px;
}

.content #category li a{
    display: block;
    width:100%;
    height: 100%;
}

#category li.active{
    background-color:#777;
}

.item{
    float:left;
    width:50%;
}

.item thead{
    height: 48px;
    line-height: 48px;
    background-color: #777;
}

.item tbody td{
    height: 50px;
    padding: 0;
    background-color: #eee;
    text-align: center;
}

.item .coName{
    width:70%;
}

.itemcontent{
    width:30%;
    float: left;
    background-color: #fff;
    height: 400px;
    position: relative;
}
.itemcontent #itemimage{
    text-align: center;
    margin:50px 0 0px 0;
    height: 200px;
}

.itemcontent img{
    width:150px;
    margin:0 auto;
}

.itemcontent p{
    margin-left:20px;
}

.orderlist{
    width:100%;
    text-align: center;
}

.orderlist thead th{
    height: 48px;
    background-color: #ddd;
}

.orderlist .coName{
    width:55%;
}

.orderlist .coPrice{
    width:25%;
}

.orderlist .coSelect, .coDelete{
    width:10%
}


.shoppingicon{
    position: absolute;
    bottom:10px;
    right:20px;
    display: none;
}

.shoppingicon i{
    font-size: 50px;
    color:#777;
}

.shoppingicon button{
    width:70px;
    height:70px;
    background-color: #fff;
    border:none;
    
}

/* box2 영역 */

.box2 .orderTitle{
    width:100%;
    height: 80px;
    background-color:#888;
    color:white;
    text-align: center;
    line-height: 80px;
}


.orderlist:after{
    display: block;
    clear:both;
    content: '';
}

.orderlist>div{
    float:left;
}

.title{
    width:100%;
    height: 48px;
    text-align: center;
    background-color:#ddd;
    line-height: 48px;
}

.orderTable{
    height: 240px;
    overflow: auto;
}

.orderlist td{
    /* width:100%; */
    height: 32px;
    background-color:#fff;
    /* border-bottom: 1px solid #777; */
    box-sizing: border-box;
    text-align: center;
}

#won{
    display: none;
}

.ordercalc{
    height: 160px;
    background-color:#ddd;
}

.totalPriceTitle, .paymentTitle, .paymentamountTitle{
    margin-left:20px;
}

.ordercalc>div{
    width:80%;
    margin:0 auto;
    padding-top:3px;
}

.ordercalc input{
    margin-left:30px;
}

#totalPrice, .paymentamount{
    width:100px;
    display: inline-block;
    text-align:center;
    margin-left:50px;
}

#paymoney{
    margin-left:0;
    width: 95px;
    text-align: right;
    padding-right:5px;
}

.won{
    margin-left: 10px;
}

.buttons{
    position: absolute;
    bottom:10px;
    left:50%;
    margin-left:-123px;
}

.buttons button{
    width:120px;
    height: 40px;
    background-color: #666;
    border:none;
    color:#fff;
}

#paymentdiv{
    display: none;
}